.footerpic{
   max-height: 20px;
   max-width: 20px; 

}

.containercolor{
    background-color:#d9c2b0;
}

.buttonlink{
    background-color: #c09984;
    font-weight: 700;
    font-size: 0.8rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    color: white;
    text-decoration: none;
}

.headerbackground{
    background-color: #d9c2b0;
}

.navfooter{
    background-color: #c09984;
}

.textorientation{
    text-align: left;
}

.backtotop{
    color: #d9c2b0;
}